app:
  file:
    allowed-types: image/jpeg,image/png,image/webp
    max-size: 5242880
jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
aws:
  access:
    key:
      id: ${AWS_ACCESS_KEY_ID}
    secret:
      key: ${AWS_SECRET_ACCESS_KEY}
  s3:
    region: us-east-1
    bucket: ${AWS_BUCKET_NAME}
spring:
  profiles:
    active: ${SPRING_PROFILE}
  application:
    name: movies
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  servlet:
    multipart:
      max-file_size: 5MB
      max-request-size: 5MB
---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
---
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
